.comment,
.comment-container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.comment-wrapper {
  min-height: 400px;
}

.comment-list,
.comment-item {
  width: 100%;
  text-align: left;
}

.comment-item {
  margin-bottom: 5px; /* 每条评论底部间距 */
}

/* 评论正文样式 */
.comment-list-p {
  text-align: left;
  font-size: 18px;
  line-height: 1.75; /* 行距稍加大 */
  color: #222;
  white-space: pre-wrap;
}

[data-theme=dark] .comment-list-p {
  color: #eee;
}


/* Ant Design Comment 内容样式 */
.ant-comment-content-author-name {
  font-size: 20px !important; /* 加 !important 确保覆盖默认样式 */
  color: #000 !important;
}

[data-theme='dark'] .ant-comment-content-author-name {
  font-size: 20px !important;
  color: #ddd !important;
}

.ant-comment-content-author-time {
  font-size: 20px !important; /* 加 !important 确保覆盖默认样式 */
  color: #000 !important;
}

[data-theme='dark'] .ant-comment-content-author-time {
  font-size: 20px !important;
  color: #ddd;
}

/* 回复框样式 */
.comment-reply-wrapper {
  border-left: 3px solid #ccc;
  padding-left: 18px;
  margin-top: -10px;
  margin-bottom: 0px;
  background-color: #f7f7f7;
  border-radius: 4px;
}

[data-theme="dark"] .comment-reply-wrapper {
  border-left-color: #555;
  background-color: #2a2a2a;
}


.comment-reply {
  margin-top: 0px;
  padding: 5px 5px;
  background-color: #f7f7f7;
  font-style: italic;
  color: #666;
  border-radius: 5px;
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 1;
  box-sizing: border-box;
}

[data-theme="dark"] .comment-reply {
  background-color: #2a2a2a;
  color: #aaa;
}


.ant-comment-avatar img {
  width: 100% !important; 
  height: 100% !important;
  object-fit: cover ;
}

/* 按钮区域 */
.Comment-setion2 {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
